<div id="home-panel" class="">

<div class="container mx-auto p-4 ">
  <h1 class="text-4xl">Welcome to the <%= title %></h1>
</div>
<!-- stat data -->
<div class="p-9 stats shadow flex items-center justify-center">

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Users</div>
    <div class="stat-value">1</div>
    <div class="stat-desc"></div>
  </div>

  <!-- devices -->
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Devices</div>
    <div class="stat-value" id="devices">5</div>
    <div class="stat-desc"></div>
  </div>
</div>

<!-- table -->
<div class="container mx-auto p-4">
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Device Name</th>
          <th>Device Cloud ID</th>
          <th>Status</th>
          <th>Last Seen</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Device 1</td>
          <td>ABC123</td>
          <td><span class="badge badge-outline">Online</span></td>
          <td>2024-07-05 10:00 AM</td>
          <td>
            <button class="btn  btn-outline " onclick="openDevice('Device 1')">
                <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Device 2</td>
          <td>XYZ789</td>
          <td><span class="badge badge-outline">Offline</span></td>
          <td>2024-07-04 08:30 PM</td>
          <td>
            <button class="btn  btn-outline " onclick="openDevice('Device 2')">
                <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Device 3</td>
          <td>DEF456</td>
          <td><span class="badge badge-outline">Maintenance</span></td>
          <td>2024-07-05 08:00 AM</td>
          <td>
            <button class="btn  btn-outline " onclick="openDevice('Device 3')">
                <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- script for open device details -->
<script>
  function openDevice(deviceName) {
    console.log(deviceName);
  }
</script>
